@use 'config';

button.control-btn {
  margin: 20px auto;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
  color: config.$text-color;
  background-color: config.$btn-color;

  &:hover {
    background-color: config.$btn-color_hover;
  }
  &:active {
    background-color: config.$btn-color;
  }

  &:focus {
    outline: none;
  }
}