@use 'config';
@use 'modal';

main {

  h1 {
    text-align: center;
    font-family: 'Potta One', 'OpenSans', sans-serif;
    font-size: 2.5rem;
    padding-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 1px;;

    @include config.mobile {
      font-size: 1.7rem;
    }
  }

  .player-input-section {
    display: flex;
    justify-content: space-evenly;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    text-align: center;
    color: config.$x-color;
    font-size: 1.2rem;
  }
}

.modal {
  @include modal.Modal;
}

.overlay {
  @include modal.Overlay;
}