@use './config';

fieldset {
  width: 90%;
  margin: 0 auto;
  padding: 30px 15px 10px;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;

  @include config.mobile {
    flex-wrap: wrap;
  }
}