@use 'config';

tr {
  td {
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2rem;
  }

  &:first-of-type {
    font-weight: 700;
  }

  &:nth-of-type(even) {
    background-color: #eee;
  }
}